*{
    margin: 0;
    padding: 0;
    font-size: medium;
}
:root{
   --primary-color:linear-gradient(360deg,#370158 ,rgb(153, 6, 116));
   --secondary-color:white;
    --background-color: #e0e0e0;
    --third-color:purple;
    --fourth-color:black;
      /*background-image:webkit -linear-gradient(360deg,#3a025d,rgb(128, 0, 119));
      --primary-color:linear-gradient(360deg,#000000 , #181818);
   --secondary-color:white;
   --background-color: linear-gradient(360deg,#31333b , #222121);*/

    }
    .dark-theme{
        --primary-color:linear-gradient(360deg,#2e2d2d , #181818);
        --background-color:linear-gradient(360deg,#1f1f24 , #4f4949);
        --secondary-color:rgb(0, 0, 0);
        --third-color:yellow;
        --fourth-color:white;

    }
#icon{
    width:25px;
    height:25px;
    cursor: pointer;

}
.container img{
    margin-bottom: -100px;;
}

.main{
    
    width:100% ;
    background: var(--primary-color);
    margin:0 auto;
    position: relative;
  
}

nav ul{
    flex:1;
    text-align:center;
    
}
nav{
    width: 90%;
    display: flex;
    justify-content:space-between;
    background: var(--secondary-color); 
    border-radius: 10px;
    margin:auto;
    padding: 20px;
    
    
}
nav ul li{
    
    display:inline-block;
    list-style: none;
    margin:0.5%;
    
}
nav ul li a{
    width: 90%;
    text-decoration: none;
    color:var(--fourth-color);
    font-family:'poppins';
    padding: 1px;  
   
}
.main .container{
    width:100%;
    height: auto;
    
   
    
}
.container p{
    color:white;
    position: relative;
    flex-direction: column;
    text-align:center;
    width:100%;
    padding:20px 5px 2px;
    justify-content: center;
    display: flex;
    word-spacing: 0.5em;
    line-height: 1.5;
    height: 200px;
    
    
    
    
}
.container .img{
    display:flex;
    width:50%;
    height: 10%;
    justify-content: center;
    text-align: center;
    padding: 20px 20px 30px 5px;
    margin-left: 22%;
    

   
}
.container a{
    
    background-color: yellow;
    color:black;
    position: relative;
   display:inline-block;
   flex-direction: column;
    justify-content:center;
    text-decoration: none; 
    border-radius: 10px;  
    padding:5px;
    left:35%;
    bottom: 3em;
    margin-top: 20px;
    font-size:medium;
    
}
.box{
    position:relative;
    background:var(--background-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;   

}
.box .box1{
    width:300px;
    position: relative;
    height: 250px;
    background:var(--secondary-color);
    margin: 20px 20px;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px #e0e0e0cb;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    text-align: center; 
    line-height: 1.5;
    color:var(--fourth-color);

}
.box .box1 .logo1{
    position: relative;
    width: 50px;
    height: 50px;
    left: 100px;
    padding: 10px;
    
}
.box .box1 h4{
    color:var(--third-color);
    padding: 10px;
}
.box2{
    position:relative;
    background-color:var(--secondary-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:auto;
    padding: auto;
    

}
.box2 .square{
    width: 120px;;
    position: relative;
    height: 150px;
    margin:3%;
    margin-top: 4%;
    margin-bottom: 2%;
    padding: 30px 30px 20px 10px ;
    display:flex;
    flex-direction: column;
    box-shadow: 2.5px 2.5px   #e0e0e0cb;
    transform: transitionX(-50);
    border-radius: 10px;
    text-align: center; 
    line-height: 1;
    word-spacing: 0.3em;
    background:var(--background-color);
    color:var(--fourth-color);


}
.box2 .square h5{
    color:var(--third-color);
    padding: 10px;
    text-align: center;
    
}

.box2 .square .logo2{
    position: relative;
    width: 50px;
    height: 50px;
    left: 30px;
    padding: 10px;

}
.box2 .process{
    width:100%;
    height:100%;
}
.box2 .process h2{
    color:var(--third-color);
     position: relative;
    padding:10px ;
    text-align: center;
     margin-left: 30%;
     margin-right: 20%;
    margin-top: 2%;
}
.container2{
    position:relative;
    background-color:var(--background-color);
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    
}
.container2 .heading h3{
  color:var(--third-color);
  text-align: center;
  padding: 5%;
  margin:4%;
  
  
    
}
.heading p{
    color:var(--fourth-color);
    text-align: center;
    word-spacing: 0.5em;
    padding: 10%;
    
    
}

.back{
    position:relative;
    width: 100%;
    display:flex;
    justify-content: center;
    background-color:var(--background-color);
    margin: 0%;

}

.back .person{
    width:190px;
    height: auto;
    position: relative;
    margin: 30px;
    padding: 20px ;
    display: flex;
    flex-direction: column;
    box-shadow: 1px #e0e0e0cb;
    
    border-radius: 10px;
    text-align: center; 
    font-size: medium;
    letter-spacing: 0.5;
    line-height: 1em;
    word-spacing: 0.7em;
    background:var(--primary-color);
    color: white;
      
    
}

span{
    color:yellow;
    text-align: right;
    padding: 1em;
}

.back .logo3{
    border-radius:60% ;
    border:5px solid white;
    position: relative;
    display: flex;
    left:25%;
    margin-top: -80px;
    width: 50%;
    height: 50%;
    margin-bottom: 20px;

    
    
}
@media only screen and (min-width: 620px){
    
    .container .img{
        display:flex;
        justify-content: right;
        margin-left: 47%;
        margin-top:10px;
        position: relative;
    }
    .container p{
        display: flex;
        justify-content:left;
        flex-direction: row;
        top: -50px;
        position: relative;
        margin: 20px;
        
        
    }
    .back{
        
        flex-direction: row;
    }
}
    @media only screen and (max-width: 480px){

       
       .back {
        
    
          flex-direction: column;
       }
    }

